.color-scheme-switcher__value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: var(--background-zero);
  border: 1px solid var(--color-scheme-switcher-border);
  border-radius: 50%;
  cursor: pointer;
  color: var(--constant-accent);
}

.color-scheme-switcher__option {
  width: 208px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 16px;
  color: var(--foreground-primary);
  cursor: pointer;
}

.color-scheme-switcher__text {
  margin-left: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.color-scheme-switcher__option:hover .color-scheme-switcher__text {
  color: var(--constant-accent);
}

.color-scheme-switcher__check {
  margin-left: auto;
  width: auto;
}
