.login-container {
  max-width: 500px;
  margin: 70px auto;
}

.login-oauth-container {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

.login-oauth-container__item {
  padding: 0 10px;
}
