.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  background-color: var(--constant-overlay-black-alpha64);
}

.modal-wrapper--alignY-center {
  align-items: center;
}

.modal-wrapper--alignX-center {
  justify-content: center;
}
