@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --constant-black-alpha64: rgba(0, 0, 0, 0.64);
  --constant-white-alpha12: rgba(255, 255, 255, 0.12);
  --constant-white-alpha64: rgba(255, 255, 255, 0.64);
  --constant-black: #262a2f;
  --constant-accent: #0083fc;
  --constant-grey: #a3a3a3;
  --constant-grey1: #ebebeb;
  --constant-white: #fff;

  --container-width: 940px;
  --container-padding: 20px;
  --grid-column-width: 60px;
  --grid-gap: 20px;

  --background-zero: var(--constant-white);
  --background-primary: var(--constant-white);
  --foreground-primary: var(--constant-black);
  --color-scheme-switcher-border: var(--constant-grey);
  --skeleton-color: var(--constant-grey1);
  --skeleton-gradient: linear-gradient(
    to right,
    transparent 0%,
    var(--constant-white-alpha64) 50%,
    transparent 100%
  );

  --transition: 0.25s;

  color-scheme: light;
}

[scheme="dark"] {
  --background-zero: #131517;
  --background-primary: var(--constant-black);
  --foreground-primary: var(--constant-white);
  --color-scheme-switcher-border: transparent;
  --skeleton-color: var(--constant-white-alpha12);
  --skeleton-gradient: linear-gradient(
    to right,
    transparent 0%,
    var(--constant-white-alpha12) 50%,
    transparent 100%
  );

  color-scheme: dark;
}

*:not(svg *) {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.--prevent-scroll {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--foreground-primary);
  background-color: var(--background-zero);
  min-width: 320px;
}

img {
  display: block;
  width: 100%;
  overflow: auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding));
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.skeleton-gradient {
  background-size: 200% 100%;
  background-image: var(--skeleton-gradient);
  background-attachment: fixed;
  animation: skeleton-gradient-animation 1s linear infinite;
}

@keyframes skeleton-gradient-animation {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: -100% 0;
  }
}
