.footer {
  margin-top: 64px;
  padding-top: 24px;
  padding-bottom: 80px;
  background-color: var(--constant-black);
  color: var(--constant-white);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.footer__bottom {
  padding-top: 28px;
  font-size: 16px;
}

.footer__link {
  color: var(--constant-accent);
  cursor: pointer;
  text-decoration: underline;
}

.footer__link:hover {
  opacity: 0.8;
}
