{
  "env": {
    "browser": true,
    "node": false
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:react/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
