@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --color-primary: #262a2f;
  --color-accent: #f53;
  --color-grey: #868686;
  --color-white: #fff;

  --transition: 0.25s;
}

*:not(svg *) {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  overflow: auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}
